fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-google-genai
langchain-core
langgraph
sqlalchemy
psycopg2-binary
pinecone-client
langchain-pinecone
langgraph-checkpoint-postgres 
psycopg 
psycopg-pool
